.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb !;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media only screen and (min-width: 860px) {
  .makeStyles-heroImg-6 {
    /* cover: contain; */
    width: 100%;
    height: 110vh !important;
    align-items: bottom;
  }
}

@media only screen and (max-width: 595px) {

  

  .MuiBox-root {
    padding-right: 0px !important;
  }
  .makeStyles-paperContainer {
    height: 64px;
    padding-top: 4px;
  }
  
  .makeStyles-heroImg-6 {
    /* cover: contain; */
    background-position: center !important;
    /* display: inline-block !important; */
    position: relative !important;
    left: -0%;
    background: cover;
    min-width:  600px !important;
    overflow: hidden !important;
    /* width: 100 vw !important; */
    /* height: 85vh !important; */
    align-items: bottom;
  }
}

@media only screen and (max-width: 400px) {



  .makeStyles-heroImg-6 {
    /* cover: contain; */
    background-position: center !important;
    /* display: inline-block !important; */
    position: relative !important;
    left: -15%;
    background: cover;
    min-width:  600px !important;
    overflow: hidden !important;
    /* width: 100 vw !important; */
    /* height: 85vh !important; */
    align-items: bottom;
  }

  .MuiPopover-paper {
    background-color: aqua !important;
  }
 
}
