.dx-theme-generic-typography a {  
  color: white;  
}  

:root {
  --primary: #9d4dff;
  --secondary: #ff4df0;
  --tertiary: #02b7dd;
  --light: #faf9f9;
  --dark: #1d269b;
  --darker: #000000;
  --bright: #04f167;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

#scroll,
#list {
  position: absolute;
  top: 50px;
  width: 240px;
}

.item {
  box-sizing: border-box;
  padding: 10px 20px;
  margin-bottom: 10px;
}

#scheduler {
  margin-left: 270px;

}

.dx-draggable-source {
  opacity: 0.5;
}

.dx-draggable-dragging > * {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.2);
}

